#LoginPage {
    background-color: #fcc076;
    min-height: max-content;
    display:flex;
}

.LoginFormContainer {
    margin: 4%;
    margin-left: 10%;
    padding: 1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5%;
    border: solid 1.5px black;
    background-color: rgba(255, 255, 255, .6);
}

.loginHeading {
    padding-top: 6%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    font-size: 35px;
    
}

.inputfield {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding : 6%;
    width: 85%;
}

.loginButton {
    width: 50%;
    font-stretch: expanded;
}

.inputfield .forgotPassword {
  padding-left: 55%;
  padding-bottom: 10%;

}

.line1 {
   color: rgba(255, 255, 255, .0);
    text-decoration: line-through black !important;
    padding-inline-end: 15px;
 
}

.line2 {
    color: rgba(255, 255, 255, .0);
     text-decoration: line-through black !important;
     padding-inline-start: 15px;
  
 }

input {
    width: 30px;
}


.phf-logo {
    margin-left: 8%;
    margin-top: 10%;
    width: 30%;
    height: 50%;
}

.showPW {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, .2) !important;
    
}

.forgotPassword {
    color: rgb(86, 133, 195);
    text-decoration: underline;
}
/* #googleButton {
    border-radius: 5%;
} */