#nav {
  background-color: #6d9df6a7;
  border-right: solid 2px rgb(2, 29, 56);
  opacity: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.nav-header {
  text-align: center;
  padding: 15%;
  padding-bottom: 30%;
}

.nav-slot {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px; /* Add space between each link */
}

.nav-slot:hover {
  background: rgba(240, 237, 237, 0.15);
}

.nav-slot:active {
  border-left: solid 5px rgb(5, 74, 135);
}

svg {
  width: 30px !important;
  height: 30px !important; 
}

.nav-link {
  text-align: center;
  margin-top: 5px; /* Space between icon and link */
  font-size: 18px;
  font-weight: 600;
}

.footer {
  width: 100%;
  margin-top: 100px; /* Adds gap between Inventory and Settings */
}

.copyright {
  display: flex;
  margin-top: 30%;
  font-size: 14px;
  padding-left: 3%;
}

.bootIconFooter {
  padding-right: 1%;
}
