
.email-main-text {
    position: relative;
  }
  
  .copy-button-wrapper {
    position: absolute;
    right: 1%;
    top: 98%;
    transform: translateY(-50%);
  }

.email-main-title {
    text-align: center;
    font-size: 30px;
    font-weight:700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.emailCard {
    border: solid 2px #aaadb0;
    border-radius: 8px;
    background-color: #eeeaea86;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 3%;
    cursor: default;
}


.emailCard .key {
    font-size: 18px;
}

.email-buttons {
    display: flex;
    justify-content: space-between;
}

.email-button-false {
    display: flex;
    justify-content: end;
}

.deleteEmailButton {
    background: transparent !important;

}

.save-email-form {
    margin-left: 5%;
}

.email-notes {
    width: 70%;
}

.email-textarea {
    height: 150px !important;
    border: solid 1px gray;
}

.email-instructions {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    padding-left: 5%;
    padding-right: 5%;
    color:rgba(59, 60, 61, 0.86)
}

.email-instructions span svg {
    width: 20px !important;
    height: 20px !important;
    padding-right: 4px;
    color:rgba(14, 143, 241, 0.86)
}


.email-submit-button, .post-email-button {
    display: flex;
    justify-content: center;
}

.create-email-inputs {
    padding-left: 5%;
    padding-right: 5%;
}

.createTitle {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.input-label {
    color: rgba(0, 0, 0, 0.986);
    font-weight: 650;
}

.email-category-selection, .language-select {
    display: block;
}
 
.create-email-inputs Input, Textarea, select  {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.email-submit-button Button{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   padding-right: 50px;
}

.downloadIcon {
    width: 8px !important;
    height: 8px !important;
    padding-bottom: 35px;
    padding-left: 8px;
}


.Save-email-title {
    font-size: 25px;
    font-weight: 600;
   text-align: center;
}

/* create-email comp toggler  */
.toggler {
    display: block;
    padding-left: 75%;
}

#tog2 {
    color: rgb(24, 125, 247);
}
.toggler button {
    padding-left: 60%;
    cursor: pointer;
}

.toggler button:hover {
    color: rgb(24, 125, 247);
}

.toggler label {
    text-decoration: underline;
    font-size: 14px;
}
/* create-email comp toggler  */

.language-select {
    width: 50%;
}

.addToCreateEmailButton {
  margin-left: 95%;
}

.addToCreateEmailButton:hover {
    color: rgb(3, 114, 250);
}
.addToCreateEmailButton svg:active {
    box-shadow: rgba(80, 166, 228, 0.593) 3px 1px 3px;
}

.clear-post-input {
    display: flex;
    justify-content: end;
}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .templateToggle {
    font-size: 14px;
    font-weight: 400;
    color: rgb(81, 79, 79);
    text-decoration: underline;
  }