.pdf-container {
    width: 100%;
    height: 90%;
    /* margin-bottom: 5% !important; */
}

.pdf-main {
    width: 85%;
    height: 100%;
    border: 1.8px solid black;
    justify-self: center;
}


.subtitle-pdf-description, .subtitle-pdf-instruction, .pdf-info {
    padding-left: 3%;
    color: rgba(109, 106, 106, 0.983)
}


.pdf-description, .pdf-instruction, .pdf-info {
    padding-left: 3%;
    padding-bottom: 1%;
    padding-right: 2.5%;
}


.medicalPublishDate {
    display: flex;
    justify-content: end;
    padding-right: 5%;
}

/* .pdf-info {
    margin-top: 30%;
} */

.pdf-title {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    padding-right: 25px;
    font-size: 30px;
    font-weight: 700;

}

.medical-submit-button {
    display: flex;
    justify-content: center;
    margin-top: 3%;

}