.col { width: 20%; }
.col2 { width: 50%; }
.col3 { width: 75%; }
.col4 { width: 100%; }

.col5 {width: 30%}
.col6 {width: 40%}
.col7 {width: 60%}
.col8 {width: 80%}

* {
  box-sizing: border-box;
}

#dashboard {
  display: grid;
  grid-template-columns: 25% 30% 45%; /* Set column widths */
   /* Optional: space between columns */
}

ul {
   list-style-type: none;
   }


   .main {
border-right: solid 5px rgb(247, 225, 221); 
   }

   .main-title {
    font-size: 50px;
    color: black;
   }