/* My vertical centered modal and email modal  */

.heading-prompt {
    text-align: center;
}


.medical-file-title, .email-title-modal{
    text-decoration: underline;
}

.modal-body{ 
    padding: 5px;
}


