/* My vertical centered modal  */

.heading-prompt {
    text-align: center;
}


.medical-file-title {
    text-decoration: underline;
}

.modal-body{ 
    padding: 5px;
}



/* email delete modal  */