/* SendEmail.css */
.email-title {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .email-form {
    display: flex;
    flex-direction: column;
  }
  
  .email-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .email-form input,
  .email-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .email-form input {
    height: 40px;
    width: 100%;
  }
  
  .email-form textarea {
    height: 100px;
    resize: vertical;
  }
  
  .sending-email {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
  }
  
  .sending-email-button {
    display: flex;
    justify-content: center;
  }

  .send-button:hover {
    background-color: #85c7f7;
  }
  
  .current-datetime {
    display: flex;
    justify-content: end;
    padding-top: 10px;
    font-size: 0.9rem;
    color: #999;
  }
  

  .sender-input {
    border: none !important;
    background: none;
    margin-bottom: 0 !important;
  }